[main]

organization=org-xxxxxxxxxxxxxxxxxxx
api_key=sk-yyyyyyyyyyyyyyyyyyyyyyyyyyy

# 访问wolframalpha
wolframalpha_appid=hhhhhhhhhhhhhhhh


# 少锋的代理，配了这个，上面的api_key就失效了，默认为空
openai_api_base=

# 选择一个gpt模型
model=gpt-3.5-turbo

google_search_api_key=zzzzzzzzzzzzzzzzzzzzzzzzzzzz

# 百度翻译

baidu_trans_app_id=
baidu_trans_secret_key=

python_path=/usr/bin/python3
host=0.0.0.0
port=8002




use_proxy_logger=0
#openai_api_base=http://127.0.0.1:8123/v1
proxy_logger_host=127.0.0.1
proxy_logger_port=8123
proxy_default_backend_server=https://api.openai.com
