<!--doctype html-->
<html>
<head>
    <title>langchain webui</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <form id="form" action="#">
                <div class="form-group col-md-10 d-flex align-items-center">
                    <label for="input">Enter a command:</label>
                    <input type="text" class="form-control" id="input" placeholder="Enter a command">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <h3>程序输出</h1>
        <div id="output" class="well"></div>
        <h3>openai请求日志</h1>
        <div id="errorlog" class="well"></div>
    </div>

    <!-- Load socket.io -->
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='ansi_up.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>

    <!-- Custom script -->
    <script>
        // Get the socket object
        var socket = io.connect();

        // Get the DOM elements
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var output = document.getElementById('output');
        var errorlog = document.getElementById('errorlog');

        // Listen for form submit event
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            $("#output").html("")
            var command = input.value;
            if (command) {
                // Send the command to the server
                socket.emit('submit', {command: command});
                // Clear the input field
                input.value = '';
            }
        });

        // Listen for result event from the server
        socket.on('result', function(data) {
            var line = data['line'];
            if (line) {
                // Convert ANSI escape codes to HTML tags using ansi_up library (https://github.com/drudru/ansi_up)
                var ansi_up = new AnsiUp;
                var html_line = ansi_up.ansi_to_html(line);
                // Append the result line to the output element
                output.innerHTML += html_line + '<br>';
            }
        });
        socket.on('errorlog', function(data) {
            var line = data['line'];
            if (line) {
                // Convert ANSI escape codes to HTML tags using ansi_up library (https://github.com/drudru/ansi_up)
                var ansi_up = new AnsiUp;
                var html_line = ansi_up.ansi_to_html(line);
                // Append the result line to the output element
                errorlog.innerHTML += html_line + '<br>';
            }
        });
    </script>

</body>
</html>
